.chart-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 20px;
    padding: 10px;
    margin: 10px 0;
}
@media screen and (max-width :900px ){

    .chart-container{
        flex-direction:column;
    }
}
.line-chart {
    flex: 2;
    max-width: 100%;
    min-width: 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background: #fff;
    .button {
        font-weight: bold;
        transition: all 0.2s ease;

        &:hover {
            color: rgb(226, 98, 98);
        }

        &.active-sales {
            color: #10b981;
        }

        &.active-orders {
            color: #f97316;
        }
    }
}

.pie-chart {
    flex: 1;
    max-width: 100%;
    min-width: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1rem; }